:root {
    --b-color: white;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body {
    border: solid 2px var(--b-color);
    flex: 0 0 calc(100% - 16px);
    height: 100%;
    border-radius: .7vmax;
    display: flex;
    max-width: calc(100% - 16px);
}

.nub {
    flex: 0 0 9px;
    height: 40%;
    border-top-right-radius: .3vmax;
    border-bottom-right-radius: .3vmax;
    background: var(--b-color);
}

.fill {
    max-width: 100%;
    border-radius: .5vmax;
    margin: 2px;
    height: calc(100%-4px);
    width: 100%;
    
    display: flex;
    align-items: center;
}

.fill>label {
    font-family: "San Francisco";
    font-weight: bold;
    color: transparent;

    text-align: right;

    -webkit-background-clip: text;

    flex: 0 0 100%;
}